*, 
*::after,
*::before {
    box-sizing: border-box;
}
body {
    background: #FAFAFB 0% 0% no-repeat padding-box;
    opacity: 1;
    background-color: #FAFAFB;
    width: 100%;
    height: 100vh;
}
a {
	text-decoration: none;
    color: #696974;
}
ul {
	list-style: none;
}
header {
    background-color: #FFFFFF;
}
.container {
    max-width: 1246px;
    margin: 0 auto;
    overflow: hidden;
}
/*************  Header ************* */
.header-inner {
    padding: 28px 0 20px 0;
    border-bottom: solid 2px #f1f1f1;
}
.navbar {
    display: flex;
    flex-direction: column;
}
.above-nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bar {
    height: 10px;
    width: 100px;
    background-color: black;
}
.nav-link {
    margin-left: 20px;
}
header a:hover {
    transition: 0.7s ease;
}
header .below-nav-items a:hover {
    color: rgb(153, 204, 102);
}
.navbar select {
    border: none;
    color: #696974;
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #171725;
}
.navbar li {
    display: inline-block;
}
.list-wrapper ul li {
    display: inline-block;
    transition: 0.7s ease;
}
.below-nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-top: solid 2px #f1f1f1;
    padding-top: 20px;
}.leftside li {
    margin-right: 20px;
}
.rightside li {
    margin-left: 20px;
}
/* ************** intro *************** */
.intro {
    margin-top: 26px;
}
.intro-inner {
    width: 100%;
    background: url(../img/home-banner.png) no-repeat;
    height: auto;
    border-radius: 10px;
}
.intro h1 {
    text-align: left;
    font: normal normal bold 36px/37px TKT;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 66px 0;
    text-align: center;
}

/* ************* main *************** */
.main {
    margin-top: 60px;
}
.main-intro {
    display: flex;
    justify-content: space-between;
    text-align: left;
    font: normal normal normal 14px/40px TKT;
    letter-spacing: 0px;
    color: #92929D;
    opacity: 1;
}
.list-wrapper {
    display: flex;
}
.list-wrapper li {
    margin-left: 20px;
    cursor: pointer;
}
.current {
    color: #99CC66;
}
.main-intro a{
    color: #171725;
    text-decoration: underline;
    transition: 0.7s ease;
}
.main-p {
    color: #696974;
    text-align: left;
    font: normal normal bold 16px/40px TKT;
    letter-spacing: 0px;
}
.sort-title {
    text-align: left;
    font: normal normal bold 14px/40px TKT;
    letter-spacing: 0px;
    color: #171725;
    opacity: 1;
}
.sorting-wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #F1F1F5;
    border-radius: 15px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 16px/40px TKT;
    letter-spacing: 0px;
    color: #171D25;
    opacity: 1;
    padding: 30px 35px 0 30px;
}
.sorting-wrapper input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E5E5ED;
    border-radius: 10px;
    opacity: 1;
    font-size: 14px;
}
.sorting-wrapper label {
    font: normal normal bold 16px/40px TKT;
    letter-spacing: 0px;
    color: #171D25;
    opacity: 1;
}
.search{
    border: 2px solid #E5E5ED;
    max-width: 90%;
    border-radius: 10px;
    opacity: 1;
    padding: 10px 100px 10px 10px;
    text-align: left;
    font: normal normal normal 16px/40px TKT;
    letter-spacing: 0px;
    color: #92929D;
    opacity: 1;
}
.price-filter {
    display: flex;
    justify-content: space-evenly;
    max-width: 90%;
    margin: 0 auto;
    gap: 10px;
}
.price-filter input {
    max-width: 60%;
    padding: 12px 20px;
}
/* ************ filter-slider ************* */
.slider-wrapper {
    position: relative;
    margin: 20px 0;
}
input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track {
    width: 100%;
    height: 5px;
    background-color: #99CC66;
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    background-color: #FFFFFF;
    border: solid 2px #99CC66;
    cursor: pointer;
    border-radius: 50px;
    pointer-events: auto;
    margin-top: -9px;
}
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #99CC66;
    pointer-events: auto;
}
input[type="range"]::-ms-thumb {
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #99CC66;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb {
    background-color: #99CC66;
    pointer-events: auto;
}
.symbols-filter {
    display: flex;
    justify-content: space-evenly;
    max-width: 90%;
    margin: 0 auto;
    gap: 10px;
}
.symbols-filter input {
    max-width: 60%;
    padding: 12px 20px;
}
.categories ul {
    display: flex;
    flex-direction: column;
}
input[type="checkbox"] {
    background-color: #99CC66;
    color: #171D25;
    font: normal normal normal 16px/40px TKT;
}
.categories-items li label {
    text-align: left;
    font: normal normal normal 16px/40px TKT;
    letter-spacing: 0px;
    color: #171D25;
    opacity: 1;
}
.content-wrapper {
    display: flex;
    justify-content: flex-start;
}
.list-wrapper li:hover, .main-intro a:hover {
    color: #99CC66;
}

/* ************* rightside ************** */
.right-side-wrapper {
    width: 75%;
}
.main-rightside {
    background-color: #FFFFFF;
    margin-left: 40px;
    border: solid 1px #F1F1F5;
    border-radius: 15px;
    padding-bottom: 20px;
}
.bottom {
    margin-left: 40px;
}
.rightside-inner img {
    background-color: #F5F5F8;
    padding: 13px 13px;
    border-radius: 8px;
}
#domains {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#domains li {
    display: flex;
    padding: 10px 10px 10px 0;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}
#domains li p, #domains li img {
    color: #171D25;
    font: normal normal bold 16px/22px TKT;
}
#domains li p {
    margin-left: 10px;
}
.rightside-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
}
.rightside-wrapper img {
    padding: 10px 10px 10px 6px;
}
.domain-wrapper {
    display: flex;
    align-items: center;
}
.domain-wrapper p {
    font: normal normal medium 16px/40px TKT;
    letter-spacing: 0px;
    color: #171D25;
}
.price-wrapper {
    display: flex;
    align-items: center;
}
.span-text {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-left: 10px;
}
.list-items-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.sorting-buttons-wrapper {
    display: none;
}
.main-p span {
    margin-left: 5px;
    color: #171D25;
    font: normal normal bold 16px/40px TKT;
}
/* @media only screen and (max-width: 1246px) {
    .container {
        max-width: 1100px;
    }
} */
@media only screen and (max-width: 765px) {
    .container {
        width: 90%;
        overflow: hidden;
    }
    .hamburger{
        display: block;
        margin-right: 10px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(0){
        transform: translateY(-8px) rotate(-45deg);
    }
    .logo-wrapper {
        display: flex;
    }
    .below-nav-items {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: -100%;
        top: 70px;
        background-color: #FFFFFF;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .leftside ul li {
        margin: 10px 0;
    }
    .rightside ul li {
        margin: 10px 0;
    }
    .below-nav-items.active {
        left: 0;
    }
    .leftside ul, .rightside ul {
        display: flex;
        flex-direction: column;
    }
    .rightside ul li {
        width: 150px;
        margin-left: 0;
    }
    .sorting-wrapper {
        position: absolute;
        left: -100%;
        transition: 0.3s;
    }
    .sorting-wrapper.active {
        left: 0;
        width: 100%;
        height: 100vh;
    }
    .sorting-wrapper input {
        padding: 0 auto;
        margin: 0 auto;
    }
    .right-side-wrapper {
        width: 100%;
        margin: 100px auto;
    }
    .main-p {
        display: none;
    }
    #dropdown {
        display: none;
    }
    .georgia {
        display: none;
    }
    .nav-link {
        margin-left: 8px;
    }
    .main-intro {
        position: absolute;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* height: 100vh; */
        width: 100%;
        background-color: #FFFFFF;
        transition: 0.3s;
    }
    /* დასამთავრებელი */
    .main-intro.active {
        margin-top: 10px;
        text-align: center;
        justify-content: flex-start;
        height: 100vh;
        left: 0;
        width: 100%;
        /* height: 100vh; */
        /* margin: 50%; */
    }
    .list-wrapper ul {
        display: flex;
        flex-direction: column;
    }
    .list-wrapper p {
        display: none;
    }
    .right-side-wrapper {
        margin: 50px auto;
    }
    .sorting-buttons-wrapper {
        display: flex;
        justify-content: center;
        gap: 20px;
        font: normal normal normal 14px/40px TKT;
        letter-spacing: 0px;
        color: #92929D;
        opacity: 1;
    }
    .main-rightside {
        margin: 0;
    }
    .sorting-buttons-wrapper button {
        border: 1px solid #E5E5ED;
        background-color: #FFFFFF;
        border-radius: 10px;
        min-width: 160px;
        padding: 11px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

